language: node_js
node_js:
  - "8"
dist: trusty
sudo: false

cache:
  directories:
    - node_modules

addons:
  chrome: stable

before_script:
  - npm install -g @angular/cli
  - npm install @angular/cdk @angular/material @mdi/svg

script:
  - ng test --watch false
