<div *ngIf="data.tipo == 'link'">
  <p>
    <mat-form-field class="input-sheet">
      <input matInput [formControl]="link" type="url" placeholder="Insira o link (obrigatório)">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="input-sheet">
      <input matInput [formControl]="rotulo" type="text" placeholder="Insira o rótulo">
    </mat-form-field>
  </p>

</div>



<div *ngIf="data.tipo == 'image'">
    <p>
        <mat-form-field class="input-sheet">
          <input matInput [formControl]="link" type="url" placeholder="Insira a url da imagem (obrigatório)">
        </mat-form-field>
      </p>
</div>

<p>
    <button mat-flat-button (click)="envia()">Enviar</button>
</p>

