.botao {
  margin-right: 10px !important;
  margin-bottom:5px !important;
  display: inline-flex;
}

.entrada {
  min-height: 100px;
  border:1px solid #cccccc;
  padding:10px;
  cursor: text;

}

blockquote {
  width: fit-content;
  border-radius: 3px;
  background: #DDDDDD;
  margin-left: 15px;
  padding: 5px;

}

code {
  width: fit-content;
  border-radius: 3px;
  background: #EEEEEE;
  padding: 5px;
  margin-left: 15px;
  font-family: "Courier 10 Pitch",Courier,monospace;

}
